/*
css
cascading style */
body {
    background: #e5e5e5;
    color: #25282b;

    text-align: left;
    margin: 0;
}

#container {
    width: 90%;
    max-width: 980px;

    margin: 40px auto; 

    display: flex;/*filhos em linha */
}

#intro {
    width: 300px;

    margin-right: 20px;

}

main {
    margin: 32px 0;

}

#buttons {
    display: flex;
    justify-content: space-evenly;/* justificado conjunto com os display*/
    
    margin-bottom: 32px;

}

button {
    color: #ff5e84;
    border: none;

    font-weight: bold;
    background: none;

    cursor: pointer;
    
}

.fat {                
    color: white;
    background: #ff5e84;
}

footer {
    text-align: center;
    margin-bottom: 32px;
}

#footer a {
    color: #25282b;
    text-decoration: none;

}

.hide {
    display: none;
}