/*
        css
        cascading style */
body {
    margin: 0;
    background: #e5e5e5;
    color: #25282b;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
}

body.hideScroll {
    overflow: hidden;
}


a {
    color: #ff5e84;
    font-weight: bolder;
    text-decoration: none;  
    cursor: pointer;   
    
}

a:hover {
    color: #ff5e84;
    font-weight: bold;
}

.button{                
    background: #ff5e84;
    color: white;

    width: 150px;
    height: 40px;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 0px 8px 16px #ff5e8434;
    transition: 0.3s;
}

.button:hover {
    color: #ff5e84;
    background-color: #0984e3;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#container {
    max-width: 980px;
    width: 90%;
    margin: 32px auto;

    display: flex;    
} 

#intro {
    max-width: 500px;
    width: 90%;
    margin: 0 20px;
}

main {
    margin: 32px 0px;
}

section.buttons {
    display: flex;  
    
    margin-bottom: 32px;    
}

section.buttons button {
    color: #ff5e84;
    border: none;

    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
    background: none;

    cursor: pointer;

    margin: 0 10px;
}

footer {
    text-align: center;

    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.2px;
    background: none;
}

footer a {
    opacity: 0.6;
}

#coracao {
    height: 16px;
    text-align: center;
}

.idea {
    display: flex;

    text-align: left;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px #25282b32;
    border-radius: 8px;

    padding: 32px;

    margin-bottom: 32px;
}

.idea img {
    width: 60px;
    height: 60px;

    margin-right: 32px;
}

.idea h2 {
    margin-right: 0px;
}

.idea p {
    margin: 0;
    color: #777;
}

.description {
    margin: 16px 0;
}

/*Modal*/
#modal {
    background: #ff5e84;

    position: absolute;
    top: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;

    justify-content: center;

    transition: 0.3s;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

#modal.addScroll {
    overflow: auto;
}

#modal .content {
    margin-top: 15%; 

    color: white;
}

#modal .content h1 {
    text-transform: uppercase;
}

#modal .content form {
    text-align: left;
    width: 80%;
    max-width: 800px;

    margin: 0 auto 15%;

    display: grid;
    grid-template-columns: 1fr 1fr ;

    gap: 16px;
}

#modal .content form div:nth-child(3),
#modal .content form div:nth-child(4),
#modal .content form div:nth-child(5) {
    grid-column:span 2;
}

#modal .content form input, textarea {
    width: 100%;
    padding: 12px;

    box-sizing: border-box;

    border-radius: 6px;
    border: 1px solid #c5637a31;

    outline: none;

    font-size: 16px;
}
form label {
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a {
    width: 140px;
    height: 40px;
    margin-top: 0;

    background: #ffffff22;
    border: none;
    border-radius: 6px;

    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: flex-end;    
}

#modal .content form a:hover {
    background-color: white;
    color: #ff5e84;

    transition: 0.3s;
}

#modal .content form button {
    width: 140px;
    height: 40px;

    background: white;
    border: none;
    border-radius: 6px;

    color: #ff5e84;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;

    grid-column: 2;
    justify-self: right;
    
}

#modal .content form button:hover {
    background-color: #0984e3;
    color: white;

    transition: 0.3s;
}

/* idea.htmal*/

#page-ideias #container {
    display: block;
}

#page-ideias #container header {
    display: flex;
    justify-content: space-between;
}
#page-ideias #container header nav {
    display: flex;
    align-items: center;
}

#page-ideias #container header nav li {
    list-style-type: none;
    margin-left: 20px;
}


#page-ideias #container header nav li:last-child {
    width: 140px;
    height: 40px;

    background-color: #ff5e84;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 6px;
    transition: 0.3s;
}


section#title {
    margin: 64px 0;
}

section#title p {
    opacity: 0.7;
    margin: 0;
}

section#title h1 {
    margin: 0;
    font-size: 28px;
}

section#ideias {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 25px;
}

section#ideias .idea {
    margin: 0;
}