<div class="idea">
  <img src="https://image.flaticon.com/icons/svg/2729/2729007.svg" alt="Imagem de Curso de Programação">
  <div class="content">
      <h3>Curso de Programação</h3>
      <p>Estudo</p>
      <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quibusdam. Explicabo in cumque
          minus numquam minima nisi cupiditate voluptatem hic consequuntur, laboriosam, quis, est nobis
          esse at ad. Animi, asperiores.
      </div>
      <a href="3">Ir para a Ideia</a>
  </div>
</div>

<div class="idea">
  <img src="https://image.flaticon.com/icons/svg/2729/2729027.svg" alt="Imagem de Meditação">
  <div class="content">
      <h3>Meditação</h3>
      <p>Mentalidade</p>
      <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quibusdam. Explicabo in cumque
          minus numquam minima nisi cupiditate voluptatem hic consequuntur, laboriosam, quis, est nobis
          esse at ad. Animi, asperiores.
      </div>
      <a href="#">Ir para a Ideia</a>
  </div>
</div>


<div class="idea">
  <img src="https://image.flaticon.com/icons/svg/2729/2729005.svg" alt="Imagem de Exercícios">
  <div class="content">
      <h3>Exercícios</h3>
      <p>Saúde</p>
      <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, quibusdam. Explicabo in cumque
          minus numquam minima nisi cupiditate voluptatem hic consequuntur, laboriosam, quis, est nobis
          esse at ad. Animi, asperiores.
      </div>
      <a href="3">Ir para a Ideia</a>
  </div>
</div>
